<template>
  <v-card class="d-flex my-4 px-5 py-2" outlined elevation="0">
    <v-icon class="px-0 mr-5">mdi-account</v-icon>
    <div class="align-self-center">{{ user.email }}</div>
    <v-spacer></v-spacer>
    <v-btn text class="primary" :loading="approving" @click="approve(user.id)">Approve</v-btn>
  </v-card>
</template>

<script>
export default {
  props: ["user"],
  data() {
    return {
      approving: false,
    };
  },
  methods: {
    approve(id) {
      this.approving = false;
      this.$http
        .post(`/user/pending/approve/${id}`)
        .then(() => {
          this.approving = false;
          this.$store.commit("changeRequestsUpdated", true);
        });
    },
  },
};
</script>
