<template>
  <v-tooltip bottom open-on-click>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        x-small
        elevation="0"
        outlined
        color="blue darken-2"
        @click="copyEmail()"
        v-bind="attrs"
        v-on="on"
        >{{ sendingEmail }}
      </v-btn>
    </template>
    <span>Click to Copy</span>
  </v-tooltip>
</template>

<script>
export default {
  data() {
    return {
      sendingEmail: "fvafhae.service@gmail.com",
    };
  },
  methods: {
    copyEmail() {
      var textArea = document.createElement("textarea");
      textArea.value = this.sendingEmail;

      // Avoid scrolling to bottom
      textArea.style.top = "0";
      textArea.style.left = "0";
      textArea.style.position = "fixed";

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      try {
        document.execCommand("copy");
      } catch (err) {
        console.error("Fallback: Oops, unable to copy", err);
      }

      document.body.removeChild(textArea);
    },
  },
};
</script>
