<template>
  <v-container class="pa-0 ma-0">
    <v-container
      class="pa-0 pb-4 ma-0 text-h5 text-left blue--text text--darken-2"
    >
      Kindle Information
    </v-container>
    <v-form
      ref="kindleFrom"
      class="px-1"
      v-model="valid"
      @submit.prevent=""
      lazy-validation
    >
      <v-container class="pa-0 pb-4 ma-0 subtitle-1 text-left ">
        Kindle Email
      </v-container>
      <v-text-field
        label="Email"
        v-model="email"
        :rules="emailRules"
        outlined
        :readonly="!editing"
        :filled="!editing"
        dense
        required
      ></v-text-field>
    </v-form>
    <v-row class="ma-0 pa-0">
      <v-spacer></v-spacer>
      <v-btn v-if="!editing" color="primary" elevation="0" @click="edit()"
        >Edit</v-btn
      >
      <v-btn
        v-show="editing"
        class="mr-2"
        color="primary"
        elevation="0"
        :loading="saving"
        @click="saveEdit()"
        >Save</v-btn
      >
      <v-btn
        v-if="editing"
        text
        color="error"
        elevation="0"
        @click="cancelEdit()"
        >Cancel</v-btn
      >
    </v-row>
    <v-alert
      v-if="noKindle"
      class="mt-8 text-left"
      type="warning"
      dense
      outlined
    >
      <v-row align="center">
        <v-col class="grow">
          You didn't set your Kindle email yet. <br />
          If you need help with finding your Kindle email, read
          <b>"Where to find Kindle email?"</b> section.
        </v-col>
        <v-col class="shrink">
          <v-btn color="warning" elevation="0" small @click="read(0)"
            >Read</v-btn
          >
        </v-col>
      </v-row>
    </v-alert>

    <v-alert class="mt-8 text-left" type="info" dense outlined>
      <v-row align="center">
        <v-col class="grow">
          Please make sure you have whitelisted our sending email: <Email />.
          <br />If our email is not whitelisted, you will not be able to receive
          articles. <br />
          If you need help with whitelisting our email, read
          <b>"How to whitelist an email?"</b> section.
        </v-col>
        <v-col class="shrink">
          <v-btn color="info" elevation="0" small @click="read(1)">Read</v-btn>
        </v-col>
      </v-row>
    </v-alert>

    <v-expansion-panels v-model="openedTabs" class="text-left mt-8" multiple>
      <v-expansion-panel>
        <v-expansion-panel-header
          class="blue--text text--darken-2 scroll-to-me0"
        >
          Where to find Kindle email?
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          There are two ways to do this: on your kindle or on the Amazon
          website.
          <div class="text-h6 mt-4">On your Kindle</div>
          On your kindle click
          <code>The Gear Icon -> All Settings -> Your Account -></code> Your
          Kindle email will be listed on the bottom of this page.
          <div class="text-h6 mt-4">Via Amazon Website</div>
          <ol>
            <li>
              <ul>
                <li>
                  Go to
                  <a
                    href="https://www.amazon.com/hz/mycd/digital-console/alldevices"
                    target="_blank"
                    >My Devices in Amazon</a
                  >
                </li>
                If you are not able to access this link:
              </ul>
              <ul>
                <li>
                  Go to
                  <a href="https://www.amazon.com" target="_blank"
                    >Amazon.com</a
                  >
                </li>
                <li>
                  Hover <code>Accounts & Lists</code> and select
                  <code>Content & Devices</code>
                </li>
                <li>Select <code>Devices</code> tab on the top</li>
              </ul>
            </li>
            <li>
              Select device which email you what to find out
            </li>
            <li>
              Your Kindle email will be listed in the <code>Email</code> section
            </li>
          </ol>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header
          class="blue--text text--darken-2 scroll-to-me1"
        >
          How to whitelist an email?
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <ol>
            <li>
              <ul>
                <li>
                  Go to
                  <a
                    href="https://www.amazon.com/hz/mycd/myx#/home/content/booksAll/dateDsc/"
                    target="_blank"
                    >Content & Devices in Amazon</a
                  >
                </li>
                If you are not able to access this link:
              </ul>
              <ul>
                <li>
                  Go to
                  <a href="https://www.amazon.com" target="_blank"
                    >Amazon.com</a
                  >
                </li>
                <li>
                  Hover <code>Accounts & Lists</code> and select
                  <code>Content & Devices</code>
                </li>
              </ul>
            </li>
            <li>Select <code>Preferences</code> tab on the top</li>

            <li>
              Scrol down to the <code>Personal Document Settings</code> section
            </li>
            <li>
              Find <code>Approved Personal Document E-mail List</code> section
              on that page
            </li>
            <li>
              Find <code>Add a new approved e-mail address </code> button and
              add our sending email: <Email />
            </li>
          </ol>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import Email from "../profile/EmailCopy";

export default {
  components: {
    Email,
  },
  data() {
    return {
      kindle: "",
      noKindle: false,

      email: "",
      accountType: "",

      editing: false,
      saving: false,
      valid: false,

      openedTabs: [],

      emailRules: [
        (value) => {
          return !!value || !this.editing || "Required";
        },
        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@kindle.com$/;
          return pattern.test(value) || !this.editing || "Invalid Kindle e-mail";
        },
      ],
    };
  },
  async mounted() {
    this.getDetails();
  },
  methods: {
    edit() {
      this.editing = true;
    },
    async cancelEdit() {
      await this.$refs.kindleFrom.reset();

      this.editing = false;
      this.email = this.kindle.kindleEmail;
    },
    async saveEdit() {
      await this.$refs.kindleFrom.validate();

      if (this.valid) {
        this.saving = true;

        if (!this.kindle.kindleEmail) {
          this.$http
            .post("/kindle", {
              model: "Other",
              kindleEmail: this.email,
            })
            .then(() => {
              this.editing = false;
              this.saving = false;

              this.getDetails();
            });
        } else {
          this.$http
            .patch("/kindle", {
              kindleEmail: this.email,
            })
            .then(() => {
              this.editing = false;
              this.saving = false;
              this.getDetails();
            });
        }
      }
    },
    getDetails() {
      this.$http.get("/kindle").then((response) => {
        this.kindle = response.data;

        this.email = response.data.kindleEmail;

        if (!response.data.kindleEmail) {
          this.noKindle = true;
        } else {
          this.noKindle = false;
        }

        this.editing = false;
        this.saving = false;
      });
    },
    read(id) {
      if (!this.openedTabs.includes(id)) {
        this.openedTabs.push(id);
      }
      this.scrollToElement(id);
    },
    scrollToElement(id) {
      const el = this.$el.getElementsByClassName(`scroll-to-me${id}`)[0];

      if (el) {
        // Use el.scrollIntoView() to instantly scroll to the element
        el.scrollIntoView({ behavior: "smooth" });
      }
    },
  },
};
</script>
