<template>
  <v-container class="pa-0 ma-0">
    <v-container
      class="pa-0 pb-4 ma-0 text-h5 text-left blue--text text--darken-2"
    >
      Account Information
    </v-container>

    <v-container class="pa-0 pb-4 ma-0 subtitle-1 text-left ">
      Account Type
    </v-container>
    <v-card class="d-flex mb-4 px-4 py-2" outlined elevation="0">
      <div class="align-self-center">
        Your type: <b class="pl-2">{{ accountType }}</b>
      </div>
      <v-spacer></v-spacer>
      <v-btn
        v-if="accountType === 'User'"
        text
        class="success"
        @click="requestUpgrade()"
        >Upgrade</v-btn
      >
    </v-card>
    <v-form
      ref="profileForm"
      class="px-1"
      v-model="valid"
      @submit.prevent=""
      lazy-validation
    >
      <v-container class="pa-0 pb-4 ma-0 subtitle-1 text-left ">
        Details
      </v-container>
      <v-text-field
        label="Name"
        v-model="name"
        :rules="requiredRule"
        outlined
        :readonly="!editing"
        :filled="!editing"
        dense
        required
      ></v-text-field>
      <v-text-field
        label="Last Name"
        v-model="lastName"
        :rules="requiredRule"
        outlined
        :readonly="!editing"
        :filled="!editing"
        dense
        required
      ></v-text-field>
      <v-divider light class="grey darken-2 mb-3 mx-10"></v-divider>

      <v-container class="pa-0 pb-4 ma-0 subtitle-1 text-left ">
        Other
      </v-container>
      <v-text-field
        label="Email"
        v-model="email"
        :rules="emailRules"
        outlined
        :readonly="!editing"
        :filled="!editing"
        dense
        required
      ></v-text-field>
    </v-form>
    <v-row class="ma-0 pa-0">
      <v-spacer></v-spacer>
      <v-btn v-if="!editing" color="primary" elevation="0" @click="edit()"
        >Edit</v-btn
      >
      <v-btn
        v-if="editing"
        class="mr-2"
        color="primary"
        elevation="0"
        :loading="saving"
        @click="saveEdit()"
        >Save</v-btn
      >
      <v-btn
        v-if="editing"
        text
        color="error"
        elevation="0"
        @click="cancelEdit()"
        >Cancel</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      user: "",

      name: "",
      lastName: "",
      email: "",
      accountType: "",
      role: "",

      editing: false,
      saving: false,
      valid: false,

      requiredRule: [
        (value) => {
          return !!value || "Required";
        },
      ],
      emailRules: [
        (value) => {
          return !!value || "Required";
        },
        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail";
        },
      ],
    };
  },
  mounted() {
    this.getDetails();
  },
  methods: {
    edit() {
      this.editing = true;
    },
    cancelEdit() {
      this.editing = false;

      this.name = this.user.firstName;
      this.lastName = this.user.lastName;
      this.email = this.user.email;
    },
    async saveEdit() {
      await this.$refs.profileForm.validate();

      if (this.valid) {
        this.saving = true;

         let request = {};

         if (this.name != this.user.firstName)
          request.firstName = this.name;
         if (this.lastName != this.user.lastName)
          request.lastName = this.lastName;
         if (this.email != this.user.email)
          request.email = this.email;

        this.$http
          .patch("/user", request)
          .then(() => {
            this.editing = false;
            this.saving = false;
            this.getDetails();
          });
      }
    },
    getDetails() {
      this.$http.get("/user").then((response) => {
        
        this.user = response.data;

        this.name = response.data.firstName;
        this.lastName = response.data.lastName;
        this.email = response.data.email;

        this.changeAccountType(response.data.role);
        this.editing = false;
        this.saving = false;
      });
    },
    requestUpgrade() {
      this.$http.post("/user/request").then((response) => {
        this.changeAccountType(response.data.role);
      });
    },
    changeAccountType(role) {
      switch (role) {
        case 0:
          this.accountType = "User";
          break;
        case 1:
          this.accountType = "Pending User";
          break;
        case 2:
          this.accountType = "Upgraded User";
          break;
        case 3:
          this.accountType = "Admin";
          break;
      }
    },
  },
};
</script>
