<template>
  <v-container class="pa-0 ma-0">
    <v-container class="pa-0 ma-0 text-h5 text-left blue--text text--darken-2">
      Account Upgrade Requests
      <v-btn color="primary" outlined @click="getPendingUsers()">Reload</v-btn>
    </v-container>
    <v-container class="pa-0 ma-0 my-4 subtitle-1 text-left">
      Below are listed users which requested an upgrade.
    </v-container>
    <v-alert
      v-if="users !== null && users.length === 0"
      class="text-left"
      type="info"
      outlined
      dense
    >
      No users has requested an upgrade yet.
    </v-alert>
    <ApproveRequest :key="user.id" v-for="user in users" :user="user" />
  </v-container>
</template>

<script>
import ApproveRequest from "../profile/ApproveRequest";

export default {
  components: { ApproveRequest },
  data() {
    return {
      users: null,
    };
  },
  mounted() {
    this.getPendingUsers();
  },
  watch: {
    "$store.state.requests.updated": function() {
      this.getPendingUsers();
      this.$store.commit("changeRequestsUpdated", false);
    },
  },
  methods: {
    getPendingUsers() {
      this.$http.get("/user/pending").then((response) => {
        this.users = response.data;
      });
    },
  },
};
</script>
