<template>
  <v-container class="ma-0 pa-0">
    <v-container
      class="pa-0 pb-4 ma-0 text-h5 text-left blue--text text--darken-2"
    >
      Statistics
    </v-container>
    <v-row class="justify-center">
      <v-col
        cols="12"
        sm="12"
        md="6"
        lg="6"
        xl="4"
        :key="title"
        v-for="[title, value] in cards"
      >
        <v-card class="py-2" elevation="3" outlined>
          <v-card-title class=" blue--text text--darken-2">
            {{ title }}
          </v-card-title>
          <v-card-text class="text-h6 text-left">
            {{ value }}
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      connection: null,

      userCount: "N/D",
      documentCount: "N/D",
      usedSpace: null,
      allocatedSpace: null,
      serverTime: "N/D",
    };
  },
  computed: {
    cards: function() {
      return [
        ["Registered users", this.userCount],
        ["Converted articles", this.documentCount],
        [
          "Dropbox Usage",
          `${(this.usedSpace / Math.pow(1024, 3)).toFixed(3)}  /
            ${(this.allocatedSpace / Math.pow(1024, 3)).toFixed(3)} GB`,
        ],
        ["Last Update", this.serverTime],
      ];
    },
  },
  created() {
    if (process.env.NODE_ENV === "development") {
      console.log("Starting connection to WebSocket Server");
      this.connection = new WebSocket("ws://localhost:9091/admin/statistics");
    } else if (process.env.NODE_ENV === "production") {
      this.connection = new WebSocket(
        "wss://fileefy-api.herokuapp.com/admin/statistics"
      );
    }

    this.connection.onmessage = (event) => {
      var stats = JSON.parse(event.data);

      this.userCount = stats.userCount;
      this.documentCount = stats.documentCount;
      this.usedSpace = stats.usedSpace;
      this.allocatedSpace = stats.allocatedSpace;
      this.serverTime = stats.serverTime;
    };
  },
  methods: {
    destroyed() {
      this.connection.close();
    },
  },
};
</script>
