<template>
  <v-card class="mx-auto mt-6" elevation="4" max-width="300" outlined>
    <v-card :color="item.color" height="180" @click="openDocument(item.id)">
      <v-row class="star-placement">
        <v-col cols="9" class="ml-2">
          <v-card-title
            class="white--text py-0 text-break truncate"
            align="left"
            >{{ item.title }}
          </v-card-title>
        </v-col>
        <v-col
          cols="2"
          class="d-flex justify-space-between flex-column align-center"
        >
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="white"
                v-bind="attrs"
                v-on="on"
                icon
                @mouseenter="menuHovered = true"
                @mouseleave="menuHovered = false"
              >
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list class="py-0 d-flex flex-column">
              <v-dialog v-model="editDialog" max-width="600">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="pl-2 py-6 justify-start"
                    color="blue"
                    text
                    tile
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon class="px-0 mr-2">mdi-pencil</v-icon>
                    Edit
                  </v-btn>
                </template>
                <v-card elevation="0">
                  <v-card-title class="headline blue--text text--darken-2">
                    Card Edition
                  </v-card-title>
                  <v-row class="pa-0 ma-0">
                    <v-col cols="6">
                      <v-container class="text-left">
                        Card Color
                      </v-container>
                      <v-color-picker
                        v-model="color"
                        dot-size="30"
                        hide-mode-switch
                        mode="hexa"
                      ></v-color-picker>
                    </v-col>
                    <v-col cols="6">
                      <v-form
                        ref="editForm"
                        v-model="valid"
                        @submit.prevent=""
                        lazy-validation
                      >
                        <v-text-field
                          label="Title*"
                          v-model="title"
                          :rules="requiredRule"
                          required
                        ></v-text-field>
                        <v-textarea
                          label="Description"
                          v-model="description"
                          auto-grow
                        ></v-textarea>
                      </v-form>
                    </v-col>
                  </v-row>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" :loading="editing" @click="edit()">
                      Edit
                    </v-btn>
                    <v-btn color="error" text @click="editDialog = false">
                      Cancel
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-btn
                class="pl-2 py-6 justify-start"
                color="orange"
                text
                tile
                @click="changeFavourite(item)"
              >
                <v-icon v-if="item.favourite" class="pl-0 mr-2"
                  >mdi-star</v-icon
                >
                <v-icon v-else class="pl-0 mr-2">mdi-star-outline</v-icon>
                Favorite
              </v-btn>
              <v-dialog v-model="deleteDialog" persistent max-width="350">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="pl-2 py-6 justify-start"
                    color="red"
                    text
                    tile
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon class="px-0 mr-2">mdi-delete</v-icon>
                    Delete
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title class="headline blue--text text--darken-2">
                    Card Deletion
                  </v-card-title>
                  <v-card-text class="text-left"
                    >You are going to permanently delete this card. You will not be
                    able to restore it after deletion.</v-card-text
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="deleteHistoryEntry(item)">
                      Confirm
                    </v-btn>
                    <v-btn color="primary" text @click="deleteDialog = false">
                      Cancel
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-list>
          </v-menu>
          <div>
            <v-icon v-if="item.favourite" color="white">mdi-star</v-icon>
          </div>
        </v-col>
      </v-row>
    </v-card>

    <v-card-text class="pa-2">
      <v-container class="pa-1">
        <div class="text-left my-card-text truncate text-break">
          {{ item.description }}
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["item"],
  data() {
    return {
      menuHovered: false,
      deleteDialog: false,
      editDialog: false,
      editing: false,
      valid: false,

      title: "",
      description: "",
      color: "",

      requiredRule: [
        (value) => {
          return !!value || "Required";
        },
      ],
    };
  },
  mounted() {
    this.restartEdition();
  },
  watch: {
    editDialog: function() {
      this.restartEdition();
    },
  },
  methods: {
    openDocument(value) {
      if (!this.menuHovered) {
        this.$store.commit("changeDocument", value);
        this.$router.push({
          name: "DocumentView",
        });
      }
    },
    changeFavourite(item) {
      this.$http
        .patch(`/history/${item.id}`, {
          isFavourite: !item.favourite,
        })
        .then(() => {
          this.$store.commit("changeWasChanged", true);
        });
    },
    deleteHistoryEntry(item) {
      this.$http.delete(`/history/${item.id}`).then(() => {
        this.$store.commit("changeWasChanged", true);
        this.deleteDialog = false;
      });
    },
    restartEdition() {
      this.title = this.item.title;
      this.description = this.item.description;
      this.color = this.item.color;
    },
    async edit() {
      await this.$refs.editForm.validate();

      if (this.valid) {
        this.$http
          .patch(`/history/${this.item.id}`, {
            title: encodeURI(this.title),
            description: encodeURI(this.description),
            color: this.color,
          })
          .then(() => {
            this.$store.commit("changeWasChanged", true);
            this.editDialog = false;
          });
      }
    },
  },
};
</script>

<style scoped>
.star-placement {
  height: 180px;
}

.my-card-text {
  height: 70px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
