<template>
  <v-dialog
    v-model="dialogVisible"
    :persistent="isGenerating || isGenerated"
    max-width="800px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        class="mx-3 py-6 justify-start"
        :color="btnColor"
        x-large
        elevation="0"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon class="px-0 mr-2">mdi-plus</v-icon>
        Add Article
      </v-btn>
    </template>
    <v-stepper v-model="lastStep" non-linear>
      <v-stepper-header>
        <v-stepper-step
          :rules="[() => valid]"
          :editable="!isGenerating && !isGenerated"
          :complete="lastStep > 1"
          step="1"
        >
          Details
          <small v-if="!valid">Title is not provided</small>
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
          :rules="[() => secondStepValid]"
          :editable="!isGenerating && !isGenerated"
          :complete="lastStep > 2"
          step="2"
        >
          Links
          <small v-if="!secondStepValid">No articles</small>
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="3"> </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card elevation="0" height="375">
            <v-row>
              <v-col cols="6">
                <v-container class="text-left">
                  Card Color
                </v-container>
                <v-color-picker
                  v-model="color"
                  class="ma-2"
                  dot-size="30"
                  hide-mode-switch
                  mode="hexa"
                ></v-color-picker>
              </v-col>
              <v-col cols="6">
                <v-form
                  ref="detailsForm"
                  v-model="valid"
                  @submit.prevent=""
                  lazy-validation
                >
                  <v-text-field
                    label="Title*"
                    v-model="title"
                    :rules="requiredRule"
                    required
                  ></v-text-field>
                  <v-textarea
                    label="Description"
                    v-model="description"
                    auto-grow
                  ></v-textarea>
                </v-form>
              </v-col>
            </v-row>
          </v-card>
          <v-container class="text-left d-flex px-0">
            <v-btn color="primary" @click="lastStep = 2">
              Continue
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn color="error" text @click="cancel()">
              Cancel
            </v-btn>
          </v-container>
        </v-stepper-content>

        <v-stepper-content class="text-left" step="2">
          <v-card elevation="0" height="375">
            <div class="mb-3 headline text-center blue--text text--darken-2">
              Enter links to the article you want to convert
            </div>
            <v-virtual-scroll
              :items="articles"
              item-height="50"
              :height="linkBoxHeight"
            >
              <template v-slot:default="{ item }">
                <v-text-field
                  class="px-3"
                  readonly
                  outlined
                  dense
                  :value="item"
                >
                  <template slot="append">
                    <v-icon
                      class="mx-4"
                      :disabled="isGenerating"
                      @click="openLink(item)"
                    >
                      mdi-open-in-new
                    </v-icon>
                    <v-icon :disabled="isGenerating" @click="deleteLink(item)"
                      >mdi-close</v-icon
                    >
                  </template>
                </v-text-field>
              </template>
            </v-virtual-scroll>

            <v-alert
              :value="articleMaxReached"
              class="mt-3"
              type="warning"
              dense
              text
              >You've reached article limit</v-alert
            >
            <v-form
              :hidden="articleMaxReached"
              ref="linkForm"
              @submit.prevent=""
              v-model="linkValid"
              lazy-validation
            >
              <v-text-field
                :rules="linkRule"
                v-model="link"
                label="New Link"
                type="url"
                :disabled="articleMaxReached"
                clearable
              ></v-text-field>

              <v-input class="py-0 my-0" disabled>
                <small> Article should not be from the private source</small>
              </v-input>

              <v-btn
                color="amber accent-1"
                :disabled="!linkTyped || !(linkTyped && linkValid)"
                @click="addLink"
                >Add link</v-btn
              >
              <v-btn class="ml-3" text disabled>
                {{ articles.length }} / {{ articleMax }}
              </v-btn>
            </v-form>
          </v-card>

          <v-container class="text-left d-flex px-0">
            <v-btn
              color="success"
              :disabled="!isFilled"
              :loading="isGenerating"
              @click="generateDocument()"
            >
              Generate
            </v-btn>
            <v-btn
              color="primary"
              :disabled="isGenerating"
              text
              @click="lastStep -= 1"
            >
              Back
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="error"
              :disabled="isGenerating"
              text
              @click="cancel()"
            >
              Cancel
            </v-btn>
          </v-container>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-card
            class="d-flex align-center justify-center"
            elevation="0"
            height="375"
          >
            <div
              class="text-h2 px-7 font-weight-regular blue--text text--darken-2"
            >
              Your document was successefully generated
            </div>
          </v-card>

          <v-container class="px-0">
            <v-btn
              color="success"
              width="200px"
              x-large
              @click="openDocument()"
            >
              Open document
            </v-btn>
            <v-btn width="200px" color="primary" x-large text @click="cancel()">
              Close
            </v-btn>
          </v-container>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-dialog>
</template>
<script>
export default {
  name: "NewDocument",
  props: ["btnColor"],
  data() {
    return {
      title: "",
      description: "",
      color: "#FF0000",
      articles: [],
      userRole: 0, // Depends on user's role

      link: "",
      linkValid: false,
      isGenerating: false,
      isGenerated: false,

      valid: false,
      isFilled: false,
      lastStep: 1,
      secondReached: false,
      dialogVisible: false,

      requiredRule: [
        (value) => {
          return !!value || "Required";
        },
      ],
      linkRule: [
        (value) => {
          if (this.linkTyped) {
            const pattern = /^https?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&//=]*)$/;
            return pattern.test(value) || "Please enter a valid link";
          } else {
            return true;
          }
        },
      ],
    };
  },
  mounted() {
    this.getRole();
  },
  computed: {
    secondStepValid: function() {
      if (this.secondReached) {
        return this.articles.length >= 1;
      } else {
        return true;
      }
    },
    linkTyped: function() {
      return (
        typeof this.link !== "undefined" &&
        this.link !== null &&
        this.link.length > 0
      );
    },
    articleMaxReached: function() {
      return this.articles.length === this.articleMax;
    },
    linkBoxHeight: function() {
      if (this.articleMaxReached) {
        return 275;
      } else {
        return 175;
      }
    },
    articleMax: function() {
      if (this.userRole === 2) {
        return 100;
      } else if (this.userRole === 3) {
        return Infinity;
      } else {
        return 7;
      }
    },
  },
  watch: {
    lastStep: function(newValue, oldValue) {
      this.$refs.detailsForm.validate();
      if (oldValue == 2 && this.dialogVisible === true) {
        this.secondReached = true;
      } else {
        this.secondReached = false;
      }
    },
    valid: function() {
      if (this.valid && this.articles.length >= 1) {
        this.isFilled = true;
      } else {
        this.isFilled = false;
      }
    },
    articles: function() {
      if (this.valid && this.articles.length >= 1) {
        this.isFilled = true;
      } else {
        this.isFilled = false;
      }
    },
  },
  methods: {
    async cancel() {
      await this.$refs.detailsForm.reset();
      await this.$refs.linkForm.reset();
      this.dialogVisible = false;

      this.title = "";
      this.description = "";
      this.color = "#FF0000";
      this.articles = [];

      this.lastStep = 1;
      this.secondReached = false;

      this.link = "";
      this.linkValid = false;
      this.isGenerating = false;
      this.isGenerated = false;
      this.isFilled = false;

      this.getRole();
    },
    addLink() {
      this.articles.push(this.link);
      this.link = "";
    },
    openLink(link) {
      window.open(link, "_blank");
    },
    deleteLink(link) {
      this.articles.pop(link);
    },
    generateDocument() {
      this.isGenerating = true;

      this.$http
        .post("/history/add", {
          title: encodeURI(this.title),
          description: encodeURI(this.description) || "",
          links: this.articles,
          format: ".docx",
          color: this.color,
        })
        .then((response) => {
          this.isGenerating = false;
          this.isGenerated = true;
          this.$store.commit("changeNewDocument", true);
          this.$store.commit("changeDocument", response.data.historyEntryId);
          if (this.$store.state.document.noExist) {
            this.$store.commit("changeNoExist", false);
            this.openDocument();
          } else {
            this.lastStep = 3;
          }
        })
        .catch(() => {
          this.isGenerating = false;
          this.$store.commit("changeGenerationErrorState", true);
        });
    },
    openDocument() {
      this.cancel();
      this.$router.push({
        name: "DocumentView",
      });
    },
    getRole() {
      this.$http.get("/user").then((response) => {
        this.userRole = response.data.role;
      });
    },
  },
};
</script>
