<template>
  <div>
    <v-app-bar color="white" elevation="3" clipped-left app>
      <v-tooltip bottom open-on-click>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="mx-2" icon v-bind="attrs" v-on="on" @click="toMain()">
            <v-icon class="v-btn--icon">mdi-arrow-left</v-icon>
          </v-btn>
        </template>
        <span>Back</span>
      </v-tooltip>
      <v-spacer></v-spacer>

      <v-tooltip v-if="!editMode" bottom open-on-click>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-2"
            color="primary"
            outlined
            elevation="0"
            :disabled="doing"
            v-bind="attrs"
            v-on="on"
            @click="editMode = !editMode"
          >
            <v-icon class="v-btn--icon">mdi-pencil</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>

      <v-menu
        :close-on-content-click="false"
        bottom
        left
        v-if="!editMode"
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip bottom open-on-click>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                class="mx-2"
                color="primary"
                outlined
                elevation="0"
                :loading="downloading"
                :disabled="doing"
                v-bind="attrs"
                v-on="{ ...tooltip, ...menu }"
              >
                <v-icon class="v-btn--icon">mdi-download</v-icon>
              </v-btn>
            </template>
            <span>Download</span>
          </v-tooltip>
        </template>
        <v-list class="py-0 d-flex flex-column">
          <v-btn
            class="pl-2 py-6 justify-center"
            color="primary"
            text
            v-for="format in formats"
            :key="format"
            @click="download(format)"
          >
            {{ format }}
          </v-btn>
        </v-list>
      </v-menu>

      <v-tooltip v-if="!editMode" bottom open-on-click>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-2"
            color="primary"
            outlined
            elevation="0"
            :loading="sending"
            :disabled="noKindle || doing"
            v-bind="attrs"
            v-on="on"
            @click="sendToKindle()"
          >
            <v-icon class="v-btn--icon">mdi-send</v-icon>
          </v-btn>
        </template>
        <span>Send to Kindle</span>
      </v-tooltip>

      <v-btn
        v-if="editMode"
        class="mx-2"
        width="100"
        color="primary"
        elevation="0"
        :loading="saving"
        @click="save()"
      >
        Save
      </v-btn>
      <v-btn
        v-if="editMode"
        class="mx-2"
        width="100"
        color="error"
        elevation="0"
        outlined
        @click="cancelSave()"
      >
        Cancel
      </v-btn>
      <v-spacer></v-spacer>

      <v-menu
        :close-on-content-click="false"
        offset-y
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on: menu, attrs }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on: tooltip }">
              <v-btn
                class="mx-2  ml-6"
                icon
                v-bind="attrs"
                v-on="{ ...tooltip, ...menu }"
              >
                <v-icon class="v-btn--icon">mdi-format-color-text</v-icon>
              </v-btn>
            </template>
            <span> Text Settings</span>
          </v-tooltip>
        </template>
        <v-card width="300" height="100">
          <v-row class="pt-5 ma-0">
            <v-col cols="1">
              <v-icon class="mr-2" large>
                mdi-format-color-text
              </v-icon>
            </v-col>
            <v-col>
              <v-slider
                :messages="null"
                class="pl-5"
                v-model="fontSize"
                :max="28"
                :min="12"
                :thumb-size="24"
                step="4"
                ticks
              >
                <template slot="prepend">
                  <v-icon :disabled="isMin" @click="fontSize -= 4">
                    mdi-minus
                  </v-icon> </template
                ><template slot="append">
                  <v-icon :disabled="isMax" @click="fontSize += 4">
                    mdi-plus
                  </v-icon>
                </template></v-slider
              >
            </v-col>
          </v-row>
        </v-card>
      </v-menu>
    </v-app-bar>

    <v-main class=" my-6">
      <v-snackbar v-model="alert" color="success" :timeout="timeout" right>
        Document saved!
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" icon @click="alert = false">
            <v-icon class="v-btn--icon">mdi-close</v-icon>
          </v-btn>
        </template>
      </v-snackbar>
      <v-snackbar v-model="alertError" color="error" :timeout="timeout" right>
        {{ errorMessage }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" icon @click="alert = false">
            <v-icon class="v-btn--icon">mdi-close</v-icon>
          </v-btn>
        </template>
      </v-snackbar>

      <v-container class="d-flex justify-center">
        <mavon-editor
          v-if="editMode"
          v-model="text"
          :class="editor"
          :fontSize="`${fontSize}px`"
          language="en"
        />
        <mavon-editor
          v-else
          v-model="text"
          :box-shadow="false"
          :class="viewer"
          :subfield="false"
          :defaultOpen="'preview'"
          :toolbarsFlag="false"
          :editable="false"
          :scrollStyle="true"
          :ishljs="true"
          language="en"
        />
      </v-container>
    </v-main>
  </div>
</template>

<script>
const FileDownload = require("js-file-download");

export default {
  name: "DocumentView",
  data() {
    return {
      noKindle: true,

      fontSize: "16",

      saving: false,
      downloading: false,
      sending: false,

      alert: false,
      alertError: false,
      errorMessage: "Unknown error",

      timeout: 2000,
      id: 1,
      editMode: false,

      formats: [],

      text: "",
      rawText: "",
    };
  },
  computed: {
    doing: function() {
      return this.saving || this.downloading || this.sending;
    },
    viewer: function() {
      return `md mavon-preview viewer font${this.fontSize}`;
    },
    editor: function() {
      return `md mavon-preview font${this.fontSize}`;
    },
    isMax: function() {
      return this.fontSize == 28;
    },
    isMin: function() {
      return this.fontSize == 12;
    },
  },
  async mounted() {
    await this.getFormats();
    this.id = this.$store.state.document.id;
    if (this.id === -1) {
      this.toMain();
    }
    this.getMarkdown();
    this.getKindleInformation();
  },
  methods: {
    cancelSave() {
      this.editMode = false;
      this.setText();
    },
    save() {
      this.saving = true;
      this.$http
        .patch(`history/${this.id}/content`, {
          newContent: encodeURI(this.text),
        })
        .then(() => {
          this.saving = false;
          this.alert = true;

          this.editMode = false;
          this.getMarkdown();
        })
        .catch((response) => {
          this.saving = false;
          if (response.data && response.data.error) {
            this.errorMessage = response.data.error;
          } else {
            this.errorMessage = "Unknown error";
          }
          this.alertError = true;
        });
    },
    toMain() {
      this.$router.push("Main");
    },
    getMarkdown() {
      this.$http.get(`history/${this.id}/content`).then((response) => {
        var text = response.data.content;
        this.rawText = text;
        this.setText();
      });
    },
    getFormats() {
      this.$http.get(`documents/formats`).then((response) => {
        this.formats = response.data;
      });
    },
    setText() {
      this.text = this.rawText;
    },
    download(format) {
      this.downloading = true;
      this.$http
        .post(
          "history/" + this.id + "/download",
          {
            format: format,
          },
          {
            responseType: "blob",
          }
        )
        .then((response) => {
          let fileName = "unknown";
          const contentDisposition = response.headers["content-disposition"];
          if (contentDisposition) {
            const fileNameMatch = contentDisposition.match(/filename="(.+)"/);
            if (fileNameMatch.length === 2)
              fileName = decodeURI(fileNameMatch[1]);
          }
          FileDownload(response.data, fileName);

          this.downloading = false;
        })
        .catch((response) => {
          this.downloading = false;
          if (response.data && response.data.error) {
            this.errorMessage = response.data.error;
          } else {
            this.errorMessage = "Unknown error";
          }
          this.alertError = true;
        });
    },
    getKindleInformation() {
      this.$http.get("/kindle").then((response) => {
        if (!response.data.kindleEmail) {
          this.noKindle = true;
        } else {
          this.noKindle = false;
        }
      });
    },
    sendToKindle() {
      this.sending = true;
      this.$http
        .post(`/kindle/send/${this.id}`)
        .then(() => {
          this.sending = false;
        })
        .catch((response) => {
          this.sending = false;
          if (response.data && response.data.error) {
            this.errorMessage = response.data.error;
          } else {
            this.errorMessage = "Unknown error";
          }
          this.alertError = true;
        });
    },
  },
};
</script>

<style scoped>
.mavon {
  z-index: 0 !important;
  height: 85vh;
}
.mavon-preview {
  z-index: 0 !important;
}

.font12 {
  font-size: 12px !important;
}

.font16 {
  font-size: 16px !important;
}

.font20 {
  font-size: 20px !important;
}

.font24 {
  font-size: 24px !important;
}

.font28 {
  font-size: 28px !important;
}

.viewer {
  margin: auto 22%;
}

@media screen and (min-width: 2400px) {
  .viewer {
    margin: auto 27%;
  }
}

@media screen and (max-width: 1600px) {
  .viewer {
    margin: auto 10%;
  }
}
</style>
