<template>
  <PageTemplate>
    <v-container class=" mx-auto my-0 pa-0">
      <v-card
        class="d-flex flex-row text-left pad"
        :outlined="false"
        elevation="0"
      >
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="6" class="right">
            <div class="text-h2 amber--text text--accent-4">
              Web Pages Converter
            </div>
            <div class="text-h5 pl-1 mt-4">
              easily convert, edit and download articles from the web
            </div>
            <v-row class="justify-between mt-16 mx-0 px-0">
              <v-col cols="8" class="align-self-center mx-0 px-0">
                <v-form ref="linkForm" v-model="linkValid" @submit.prevent="">
                  <v-text-field
                    :rules="linkRule"
                    style="font-size: 24px;"
                    height="48"
                    placeholder="Article Link"
                    :disabled="converted"
                    v-model="link"
                    required
                  ></v-text-field>
                </v-form>
              </v-col>

              <v-col cols="1" offset="2" class="align-self-center ">
                <v-spacer></v-spacer>
                <v-btn
                  color="amber accent-2"
                  elevation="2"
                  x-large
                  :loading="converting"
                  :disabled="previewDisabled"
                  @click="convert()"
                >
                  Preview
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="12" sm="12" md="12" lg="6" class="left">
            <v-card class="pa-0 ma-0" elevation="24" rounded="xl">
              <v-card-title class="ml-2">
                Your converted article:
              </v-card-title>
              <v-textarea
                :rounded="true"
                style="font-size: 20px;"
                placeholder="No content yet"
                elevation="10"
                :hide-details="true"
                :value="articleText"
                :readonly="true"
                :item-disabled="true"
                :no-resize="true"
                solo
                flat
                rows="10"
                row-height="15"
              ></v-textarea>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
    <div class="mx-0 pa-0 ppp">
      <div class="mx-0 primary infop">
        <v-row class="mx-16 px-16 justify-center">
          <v-col sm="12" md="6" lg="4" xl="4">
            <v-card
              class="mx-auto my-3"
              outlined
              rounded="xl"
              :height="cardHeight"
            >
              <v-card-title class="text-h5 blue--text text--darken-2">{{
                cards[0][0]
              }}</v-card-title>
              <v-card-text>
                <v-container>
                  <v-row align-content="start" no-gutters>
                    <v-col cols="4">
                      <v-img
                        max-width="150"
                        src="../assets/icons/convert.svg"
                      ></v-img>
                    </v-col>
                    <v-col cols="7" offset="1" class="text-left text-h6">
                      {{ cards[0][1] }}
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col sm="12" md="6" lg="4" xl="4">
            <v-card
              class="mx-auto my-3"
              outlined
              rounded="xl"
              :height="cardHeight"
            >
              <v-card-title class="text-h5 blue--text text--darken-2">{{
                cards[1][0]
              }}</v-card-title>
              <v-card-text>
                <v-container>
                  <v-row align-content="start" no-gutters>
                    <v-col cols="4">
                      <v-img
                        max-width="140"
                        src="../assets/icons/file-edit.svg"
                      ></v-img>
                    </v-col>
                    <v-col cols="7" offset="1" class="text-left text-h6">
                      {{ cards[1][1] }}
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col sm="12" md="6" lg="4" xl="4">
            <v-card
              class="mx-auto my-3"
              outlined
              rounded="xl"
              :height="cardHeight"
            >
              <v-card-title class="text-h5 blue--text text--darken-2">{{
                cards[2][0]
              }}</v-card-title>
              <v-card-text>
                <v-container>
                  <v-row align-content="start" no-gutters>
                    <v-col cols="4">
                      <v-img
                        max-width="140"
                        src="../assets/icons/file-download.svg"
                      ></v-img>
                    </v-col>
                    <v-col cols="7" offset="1" class="text-left text-h6">
                      {{ cards[2][1] }}
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </div>
  </PageTemplate>
</template>

<script>
import PageTemplate from "../assets/templates/PageTemplate.vue";

export default {
  name: "Main",
  components: {
    PageTemplate,
  },
  data() {
    return {
      link: "",
      linkValid: false,

      articleText: ``,
      converting: false,
      converted: false,

      cardHeight: 250,

      linkRule: [
        (value) => {
          if (this.linkTyped) {
            const pattern = /^https?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&//=]*)$/;
            return pattern.test(value) || "Please enter a valid link";
          } else {
            return true;
          }
        },
      ],

      cards: [
        [
          "Convert Articles",
          "Fileefy now helps you to store articles you always wanted to read in one place and even in one document.",
        ],
        [
          "Edit Them",
          "Freedom of changing. Fileefy allows you to change content of the articles as you wish.",
        ],
        [
          "Download The Result",
          "Fileefy gives you possibility to download converted articles at any time!",
        ],
      ],
    };
  },
  computed: {
    linkTyped: function() {
      return (
        typeof this.link !== "undefined" &&
        this.link !== null &&
        this.link.length > 0
      );
    },
    previewDisabled: function() {
      return !(this.linkTyped && this.linkValid) && this.linkTyped || this.converted;
    },
  },
  beforeDestroy() {
    if (typeof window === "undefined") return;

    window.removeEventListener("resize", this.onResize, { passive: true });
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
  methods: {
    onResize() {
      if (window.innerWidth > 1800) {
        this.cardHeight = (window.innerWidth / window.innerHeight) * 140;
      } else if (window.innerWidth > 1350) {
        this.cardHeight = (window.innerWidth / window.innerHeight) * 160;
      } else if (window.innerWidth > 1000) {
        this.cardHeight = (window.innerWidth / window.innerHeight) * 180;
      } else {
        this.cardHeight = (window.innerWidth / window.innerHeight) * 165;
      }
    },
    async convert() {
      await this.$refs.linkForm.validate();

      if (this.linkValid) {
        this.converting = true;
        this.$http
          .post("/documents", {
            link: this.link,
          })
          .then(async (response) => {
            this.articleText = response.data.content;
            this.converting = false;
            this.converted = true;
            await this.$refs.linkForm.reset();
          })
          .catch(async () => {
            this.converting = false;
            await this.$refs.linkForm.reset();
          });
      }
    },
  },
};
</script>

<style scoped>
.right {
  padding-right: 120px;
}

.left {
  padding-left: 120px;
}

.ppp {
  width: 100% !important;
  max-width: 100vw !important;
}

.infop {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.pad {
  padding: 0px 15%;
  margin-top: calc((98vh - 342px - 195px) / 2);
  margin-bottom: calc((98vh - 342px - 195px) / 2);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 2000px) {
  .pad {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 1264px) {
  .pad {
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .right {
    padding-right: 0px;
    margin-top: 48px;
    text-align: center;
  }

  .left {
    padding-left: 0px;
    margin-top: 64px;
  }
}
</style>
