<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      color="elevation-8 grey lighten-4"
      clipped
      app
    >
      <v-list class="mt-6 d-flex flex-column">
        <v-btn
          class="mx-3 py-6 justify-start"
          x-large
          elevation="0"
          @click="toMain()"
        >
          <v-icon class="px-0 mr-2">mdi-home</v-icon>
          My Articles
        </v-btn>
        <v-btn
          class="mx-3 py-6 justify-start"
          x-large
          elevation="0"
          :color="favouriteColor"
          @click="onlyFavourite = !onlyFavourite"
        >
          <v-icon class="pl-0 mr-2">mdi-star-outline</v-icon>
          Favorite
        </v-btn>

        <v-divider class="my-4"></v-divider>

        <NewDocument />
        <!-- <v-btn
          class="mx-3 py-6 justify-start"
          x-large
          elevation="0"
          @click="alll()"
        >
          <v-icon class="px-0 mr-2">mdi-magnify</v-icon>
          Text Search
        </v-btn> -->
      </v-list>
    </v-navigation-drawer>

    <v-app-bar color="white" elevation="3" clipped-left outlined app>
      <v-app-bar-nav-icon
        class="ml-1"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <v-img
        class="mx-10 pointer"
        max-height="100"
        max-width="100"
        @click="toMain()"
        src="../assets/icons/logo.svg"
      ></v-img>
      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-2"
            icon
            @click="toProfile()"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon class="v-btn--icon">mdi-account-circle</v-icon>
          </v-btn>
        </template>
        <span>Profile</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="mx-2" icon @click="logout()" v-bind="attrs" v-on="on">
            <v-icon class="v-btn--icon">mdi-exit-to-app</v-icon>
          </v-btn>
        </template>
        <span>Exit</span>
      </v-tooltip>
    </v-app-bar>

    <v-main class="d-flex justify-center mx-6" app>
      <v-container
        v-if="noHistory"
        class="d-flex full-height justify-center align-center"
      >
        <v-row>
          <v-col cols="12" class="text-h3 blue--text text--blue-2"
            >It seems you don't have any converted articles</v-col
          >
          <v-col cols="12" class="text-h6 text-uppercase font-italic">
            convert you first article
          </v-col>
          <v-col cols="12">
            <NewDocument btnColor="amber accent-1" />
          </v-col>
        </v-row>
      </v-container>

      <v-row v-else class="pa-0 ma-0">
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
          xl="2"
          v-bind:key="item.id"
          v-for="item in history"
        >
          <HistoryEntry :item="item" />
        </v-col>
      </v-row>
    </v-main>

    <v-snackbar v-model="alertError" color="error" :timeout="timeout" right>
      {{ errorMessage }}
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" icon @click="alert = false">
          <v-icon class="v-btn--icon">mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import NewDocument from "../components/main/NewDocument";
import HistoryEntry from "../components/main/HistoryEntry";

export default {
  components: {
    NewDocument,
    HistoryEntry,
  },
  data() {
    return {
      drawer: false,
      onlyFavourite: false,
      favouriteColor: "",
      receivedHistory: false,

      alertError: false,
      errorMessage: "Unknown error",
      timeout: 2000,

      rawHistory: [],
    };
  },
  computed: {
    noHistory: function() {
      if (this.rawHistory.length === 0 && this.receivedHistory) {
        return true;
      } else {
        return false;
      }
    },
    history: function() {
      if (this.onlyFavourite) {
        return this.favouriteHistory;
      } else {
        return this.rawHistory;
      }
    },
    favouriteHistory: function() {
      return this.rawHistory.filter((item) => item.favourite);
    },
  },
  watch: {
    "$store.state.document.newExists": function() {
      if (this.$store.state.document.newExists == true) {
        this.getHistory();
        this.$store.commit("changeNewDocument", false);
      }
    },
    "$store.state.historyEntry.wasChanged": function() {
      if (this.$store.state.historyEntry.wasChanged == true) {
        this.getHistory();
        this.$store.commit("changeWasChanged", false);
      }
    },
    "$store.state.document.generationError": function() {
      if (this.$store.state.document.generationError == true) {
        this.alertError = true;
        this.errorMessage = "Generation error.";
        this.$store.commit("changeGenerationErrorState", false);
      }
    },
    rawHistory: function() {
      if (this.noHistory) {
        this.$store.commit("changeNoExist", true);
      }
    },
    onlyFavourite: function() {
      if (this.onlyFavourite) {
        this.favouriteColor = "grey lighten-1";
      } else {
        this.favouriteColor = "";
      }
    },
  },
  mounted() {
    this.getHistory();
  },
  methods: {
    toMain() {
      this.onlyFavourite = false;
    },
    toProfile() {
      this.$router.push({
        name: "Profile",
      });
    },
    logout() {
      this.$http
        .delete("/authentication")
        .then(() => {
          localStorage.removeItem("jwt");
          this.$router.replace("/");
        })
        .catch(() => {
          localStorage.removeItem("jwt");
          this.$router.replace("/");
        });
    },
    getHistory() {
      this.$http.get("history").then((response) => {
        this.rawHistory = response.data;
        this.receivedHistory = true;
        this.sortHistory();
      });
    },
    sortHistory() {
      this.rawHistory.sort(function(a, b) {
        if (a.createdAt > b.createdAt) {
          return 1;
        }
        if (a.createdAt < b.createdAt) {
          return -1;
        }
        return 0;
      });
    },
  },
};
</script>

<style scoped>
.full-height {
  height: calc(100vh - 64px);
  max-height: calc(100% - 64px);
}

.pointer {
  cursor: pointer;
}
</style>
