<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      color="elevation-8 grey lighten-4"
      clipped
      app
    >
      <v-list class="mt-6 d-flex flex-column">
        <v-btn
          class="mx-3 py-6 justify-start"
          x-large
          elevation="0"
          @click="currentTab = Tabs.profile"
        >
          <v-icon class="px-0 mr-2">mdi-account</v-icon>
          Profile
        </v-btn>
        <v-btn
          class="mx-3 py-6 justify-start"
          x-large
          elevation="0"
          @click="currentTab = Tabs.kindle"
        >
          <v-icon class="pl-0 mr-2">mdi-book</v-icon>
          Kindle
        </v-btn>

        <v-divider v-if="role === 3" class="my-4"></v-divider>

        <v-btn
          v-if="role === 3"
          class="mx-3 py-6 justify-start"
          x-large
          elevation="0"
          @click="currentTab = Tabs.requests"
        >
          <v-icon class="pl-0 mr-2">mdi-chevron-up</v-icon>
          Requests
        </v-btn>
        <v-btn
          v-if="role === 3"
          class="mx-3 py-6 justify-start"
          x-large
          elevation="0"
          @click="currentTab = Tabs.statistics"
        >
          <v-icon class="pl-0 mr-2">mdi-poll-box</v-icon>
          Statistics
        </v-btn>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar color="white" elevation="3" clipped-left outlined app>
      <v-app-bar-nav-icon
        class="ml-1"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <v-img
        class="mx-10 pointer"
        max-height="100"
        max-width="100"
        @click="toMain()"
        src="../assets/icons/logo.svg"
      ></v-img>
      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-2"
            icon
            @click="toProfile()"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon class="v-btn--icon">mdi-account-circle</v-icon>
          </v-btn>
        </template>
        <span>Profile</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="mx-2" icon @click="logout()" v-bind="attrs" v-on="on">
            <v-icon class="v-btn--icon">mdi-exit-to-app</v-icon>
          </v-btn>
        </template>
        <span>Exit</span>
      </v-tooltip>
    </v-app-bar>

    <v-main class="d-flex justify-center mx-6" app>
      <v-container class="pad">
        <ProfileInformation v-if="currentTab === Tabs.profile" />
        <Kindle v-if="currentTab === Tabs.kindle" />
        <Requests v-if="currentTab === Tabs.requests" />
        <Statistics v-if="currentTab === Tabs.statistics" />
      </v-container>
    </v-main>
  </div>
</template>

<script>
import ProfileInformation from "../components/profile/ProfileInformation";
import Kindle from "../components/profile/Kindle";
import Requests from "../components/profile/Requests";
import Statistics from "../components/profile/Statistics";

const Tabs = Object.freeze({
  profile: 1,
  kindle: 2,
  requests: 3,
  statistics: 4,
});

export default {
  components: {
    ProfileInformation,
    Kindle,
    Statistics,
    Requests,
  },
  data() {
    return {
      role: 1,
      drawer: true,

      Tabs: Tabs,
      currentTab: Tabs.profile,
    };
  },
  mounted() {
    this.$http.get("/user").then((response) => {
      this.role = response.data.role;
    });
  },
  methods: {
    toMain() {
      this.$router.push({
        name: "Main",
      });
    },
    toProfile() {
      this.currentTab = Tabs.profile;
    },
    logout() {
      this.$http
        .delete("/authentication")
        .then(() => {
          localStorage.removeItem("jwt");
          this.$router.replace("/");
        })
        .catch(() => {
          localStorage.removeItem("jwt");
          this.$router.replace("/");
        });
    },
  },
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}

.pad {
  padding: 10vh 20% 64px 20% !important;
}

@media screen and (min-width: 2400px) {
  .pad {
    padding: 10vh 5% 64px 5% !important;
  }
}

@media screen and (max-width: 600px) {
  .pad {
    padding: 10vh 0vw !important;
  }
}
</style>
