<template>
  <v-app>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />

    <router-view />
    <v-overlay :value="overlay" opacity="0.7">
      <v-progress-circular
        indeterminate
        size="196"
        width="13"
      ></v-progress-circular>
      <v-container class="text-h5 mt-10">
        <i>Server is booting up... it may take up to one minute</i>
      </v-container>
    </v-overlay>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      overlay: false,
      overlayTurned: false,
      timedOut: false,
    };
  },
  watch: {
    $route: {
      handler: (to) => {
        document.title = to.meta.title || "Fileefy";
      },
      immediate: true,
    },
  },
  mounted() {
    setTimeout(() => {
      this.timeOut();
    }, 1000);
    this.$http
      .get("/authentication")
      .then(() => {
        this.overlay = false;
        this.overlayTurned = true;
      })
      .catch(() => {
        this.overlay = false;
        this.overlayTurned = true;
      });
  },
  methods: {
    timeOut() {
      if (!this.overlayTurned) {
        this.overlay = true;
      }
    },
  },
};
</script>

<style>
@import "./assets/styles/colors.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css");

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Comfortaa";
  src: url(./assets/fonts/Comfortaa-VariableFont_wght.ttf) format("truetype");
}

body,
html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  width: 100%;
  background: var(--back);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
}

.mrg {
  margin-bottom: 40vh !important;
  padding-top: 40vh !important;
}
</style>
