<template>  
  <v-footer color="primary" :padless="false" :fixed="false">
    <v-card-text class="text-h6 white--text">
      © Copyright {{ new Date().getFullYear() }} — <strong>Fileefy</strong>
    </v-card-text>
  </v-footer>
</template>

<script>
export default {
};
</script>
