<template>
  <v-container class="my-4 d-flex">
    <router-link to="/">
      <v-img src="../../assets/icons/logo.svg" width="150"/>
    </router-link>
    <v-container class="d-flex align-center">
      <v-spacer></v-spacer>
      <SignIn />
      <SignUp />
    </v-container>
  </v-container>
</template>

<script>
import SignIn from "@/components/initial_page/SignIn.vue";
import SignUp from "@/components/initial_page/SignUp.vue";

export default {
  name: "NavigationBar",
  components: {
    SignIn,
    SignUp,
  },
};
</script>
