<template>
  <v-dialog v-model="dialogVisible" max-width="400px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary" dark outlined v-bind="attrs" v-on="on">
        Sign In
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline blue--text text--darken-2">Welcome back!</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-alert
            :value="isError"
            transition="slide-x-transition"
            border="left"
            dense
            outlined
            type="error"
            class="text-left"
            >Invalid credentials</v-alert
          >
          <v-form ref="signInForm" v-model="valid" lazy-validation>
            <v-text-field
              :rules="emailRules"
              label="Email*"
              v-model="email"
              required
            ></v-text-field>
            <v-text-field
              :rules="passwordRules"
              label="Password*"
              v-model="password"
              type="password"
              required
            ></v-text-field>
            <div class="text-left">
              <small>* Required fields</small>
            </div>
            <v-checkbox
              v-model="isRememberMe"
              :label="`Remember Me`"
            ></v-checkbox>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="mr-6">
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="cancel()">
          Cancel
        </v-btn>
        <v-btn color="primary" :loading="logging" text @click="login()">
          Login
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "SignIn",
  data() {
    return {
      email: "",
      password: "",
      isRememberMe: false,

      valid: false,
      isError: false,
      logging: false,
      dialogVisible: false,

      passwordRules: [
        (value) => {
          return !!value || "Required";
        },
        (value) => {
          return (value || "").length >= 8 || "Minimum 8 characters";
        },
      ],
      emailRules: [
        (value) => {
          return !!value || "Required";
        },
        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail";
        },
      ],
    };
  },
  mounted() {
    this.dialogVisible = this.$store.state.initialPage.signIn;
    this.$store.commit("changeSignIn", false);
  },
  methods: {
    async login() {
      await this.$refs.signInForm.validate();

      if (this.valid) {
        this.logging = true;
        this.$http
          .post("/authentication", {
            email: this.email.trim(),
            password: encodeURI(this.password),
            isRememberMe: this.isRememberMe,
          })
          .then((response) => {
            var token = response.data.token;
            this.dialogVisible = false;
            localStorage.setItem("jwt", token);
            this.logging = false;
            this.$router.push({
              name: "Main",
            });
          })
          .catch(() => {
            this.logging = false;
            this.isError = true;
            this.password = "";
          });
      }
    },
    cancel() {
      this.$refs.signInForm.reset();
      this.logging = false;
      this.dialogVisible = false;
      this.email = "";
      this.password = "";
      this.isError = false;
      this.isRememberMe = false;
    },
  },
};
</script>
