<template>
  <v-dialog v-model="dialogVisible" max-width="475px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary" dark v-bind="attrs" v-on="on" class="ml-4">
        Sign Up
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline blue--text text--darken-2">Sign Up</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-alert
            :value="isError"
            transition="slide-x-transition"
            border="left"
            dense
            outlined
            type="error"
            class="text-left"
            >{{ errorText }}</v-alert
          >
          <v-form ref="signUpForm" v-model="valid" lazy-validation>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  :rules="requiredRule"
                  label="First name*"
                  v-model="name"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  :rules="requiredRule"
                  label="Last name*"
                  v-model="lastName"
                  persistent-hint
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :rules="emailRules"
                  label="Email*"
                  v-model="email"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :rules="passwordRules"
                  label="Password*"
                  v-model="password"
                  type="password"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="cancel()">
          Cancel
        </v-btn>
        <v-btn
          color="blue darken-1"
          :loading="registering"
          text
          @click="register()"
        >
          Sign Up
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "SignUp",
  data() {
    return {
      email: "",
      password: "",
      name: "",
      lastName: "",

      valid: false,
      isError: false,
      errorText: "",
      registering: false,
      dialogVisible: false,

      requiredRule: [
        (value) => {
          return !!value || "Required";
        },
      ],
      passwordRules: [
        (value) => {
          return !!value || "Required";
        },
        (value) => {
          return (value || "").length >= 8 || "Minimum 8 characters";
        },
      ],
      emailRules: [
        (value) => {
          return !!value || "Required";
        },
        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail";
        },
      ],
    };
  },
  methods: {
    async register() {
      await this.$refs.signUpForm.validate();

      if (this.valid) {
        this.registering = true;
        this.$http
          .post("/user", {
            email: this.email.trim(),
            password: encodeURI(this.password),
            firstName: encodeURI(this.name),
            lastName: encodeURI(this.lastName),
          })
          .then(async () => {
            this.$store.state.initialPage.registrationDone = true;
            this.$http
              .post("/authentication", {
                email: this.email.trim(),
                password: encodeURI(this.password),
                isRememberMe: true,
              })
              .then((response) => {
                var token = response.data.token;
                localStorage.setItem("jwt", token);
                this.cancel();
                this.$router.push({
                  name: "Main",
                });
              })
              .catch(() => {
                this.registering = false;
                this.isError = true;
                this.errorText = "Server error. Try later";
              });
          })
          .catch((response) => {
            this.registering = false;
            this.isError = true;
            this.password = "";

            this.errorText = response.data.error || "Something wrong";
          });
      }
    },
    cancel() {
      this.registering = false;
      this.dialogVisible = false;
      this.email = "";
      this.password = "";
      this.name = "";
      this.lastName = "";
      this.isError = false;

      this.$refs.signUpForm.reset();
    },
  },
};
</script>
