/* button {
  padding: 0.33em 2em;
  margin: 10px 10px 20px 10px;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  text-align: center;
  letter-spacing: -0.015em;
}

button:hover {
  cursor: pointer;
  
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.bordered{
  background: var(--white);
  border: 3px solid var(--red);
  color: var(--red);
}

.bordered:hover{
  background: #e3e0e0;
}

.full {
  background: var(--red);  
  border: 0px;
  color: var(--white);
}

.full:hover {
  background: #d25959;
} */