/* input {
  padding: 0.26em 1.5em;
  margin: 10px 0px 20px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.015em;

  border: 2px solid var(--grey-blue);
  border-radius: 7px;

  background: var(--white);  
  color: var(--grey-blue);
}

label {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: -0.015em;
  color: var(--dark-blue);
} */
