/* .rectangle {
  align-self: center;
  padding: 10px 20px;
  margin: 5% auto 2.5% auto;
  box-sizing: border-box;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  background-color: var(--white);
  box-shadow: 0 18px 35px rgba(50,50,93,.1),-1px 0 15px rgba(0,0,0,.07) !important;
  
  /* color: var(--white); 
} */