<template>
  <div>
    <NavigationBar />
      <slot></slot>
    <Copyright />
  </div>
</template>

<script>
import NavigationBar from "@/components/initial_page/NavigationBar.vue";
import Copyright from "@/components/initial_page/Copyright.vue";

export default {
  name: "PageTemplate",
  components: {
    NavigationBar,
    Copyright,
  },
};
</script>

<style scoped>
@import "../styles/buttons.css";
@import "../styles/inputs.css";
@import "../styles/rectangle.css";
</style>
